* {
  box-sizing: border-box;
}

main {
  width: 95%;
  max-width: 120rem;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.feature + .feature {
  margin-top: 0.8rem;
}

.feature__item + .feature__item {
  margin-top: 0.8rem;
}
